<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Paradoxo de Monty Hall
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Paradoxo de Monty Hall</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <div *ngFor="let porta of portas">
      <ion-button (click)="abrirPorta(porta.id)" id="porta.id">Porta {{ porta.id }}</ion-button>
    </div>
  </div>
</ion-content>
